*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
    scroll-behavior: smooth;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--primarycolor);
    
    
}
p{
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif ;
}
h1{
    font-size: 5.8rem;
    text-transform: uppercase;
}
h2{
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
h3{
    font-size: 5rem;
    text-transform: uppercase;
}
h4{
    font-size: 4.5rem;
    text-transform: uppercase;
}
h5{
    font-size: 4rem;
    text-transform: uppercase;
}
h6{
    font-size: 3.5rem;
    text-transform: uppercase;
}

table{
    width: 100vh;
    border-collapse: collapse;
    min-width: 36rem;
    margin: auto;
}

table td, table th{
    white-space: nowrap;
    border: 0.1rem solid var(--light-gray);
    text-align: left;
    padding: 0.5rem;
    
}

tfoot td{
    background-color: var(--light-gray);
}
table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
thead{
    background-color: var(--light-gray);
    
}

.responsive-table{
    overflow-x: auto;
   
}